body {
  font-family: "Architects Daughter", cursive;
  font-size: 15px;
  background-color: lightgoldenrodyellow;
  /* background-image: url(./67hjbt00.bmp);
  background-attachment: fixed;
  background-size: cover; */
}

button {
  border-radius: 5px;
  font-size: 10px;
  background-color: springgreen;
  color: black;
  font-weight: bold;
}

button:focus {
  outline: none;
}

.globo-team-list {
  color: deeppink;
  background-color: white;
  font-weight: bold;
}

.joes-team-list {
  color: deepskyblue;
  background-color: white;
  font-weight: bold;
}

.people-list {
  color: black;
  font-weight: bold;
  background-color: white;
  font-weight: bold;
}

.eligible-list {
  color: springgreen;
  background-color: white;
  font-weight: bold;
}

.globo-button {
  background-color: crimson;
  color: white;
}

.joe-button {
  background-color: royalblue;
  color: white;
}

.ineligible-player {
  color: red;
}
